body {
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}


button {
  background-color: greenyellow;
  border-color: transparent;
  font-family: 'Andale Mono';

}
html {
  
  background-color: rgba(255, 255, 255, 0.276);
  text-align: center;
  width: 100%;
  font-family: 'Andale Mono';

}


