  html {
    background-image: url(./imgBooks/booktower1.png);
    background-size: cover;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    display: block;
  }
body{
  background-color: transparent;
}